<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sistema de la UNI</title>
		<!-- NAVIGATION -->
		<link
			rel="stylesheet"
			href="https://bootswatch.com/4/lux/bootstrap.min.css"
		/>
	</head>
	<body>
	
		<nav class="navbar" style="background-color: #fff">
			<div
				class="container-fluid justify-content-center 
        border border-secondary
        rounded roundend-2"
        style="box-shadow: 1px 2px 2px 2px #00317E;"
			>
				<a class="navbar-brand" href="/">
					<img
						src="https://norte.uni.edu.ni/wp-content/uploads/2021/04/Recurso-17@300x.png"
						alt=""
						height="50"
					/>
				</a>
			</div>
		</nav>
	</body>
</html>

<!-- #00317E -->
